#green {
    color: green;
    margin: 1rem;
    font-size: xx-large;
}
#red {
    color: red;
    margin: 1rem;
    font-size: xx-large;
}
#yellow {
    color: yellow;
    margin: 1rem;
    font-size: xx-large;
}

body {
    background-color: gray;
}
